<h1> ✌🏼 Nosotros </h1>
Somos tres estudiantes de Ingeniería de la PUC que creemos fuertemente en la colaboración entre estudiantes. En esta página podrás encontrar cursos creados y compartidos por otros estudiantes sobre distintas temáticas, tanto ramos escolares como universitarios. Esperamos que en este lugar puedas subir cursos para otros estudiantes que puedan necesitarlo. Nuestra misión es lograr fortalecer la relación estudiante-estudiante y que todas las partes involucradas ganen durante el intercambio.<br/><br/>

Cualquier cosa no dudes en escribirnos!
<br>
</br>

<h2> Equipo de desarrollo </h2>

<div class="container mt-5 mb-5">
    <div class="row text-center">
        <div class="col-4">
            <%= image_tag "Javiera.jpeg", alt: "Foto de perfil", class: "profile-image rounded-circle" %>
            <h3> Javiera Donoso </h3>
            <p> 21 años | Major software </p>
        </div>
        <div class="col-4">
            <%= image_tag "Antonia.jpeg", alt: "Foto de perfil", class: "profile-image rounded-circle" %>
            <h3> Antonia Pineda </h3>
            <p> 21 años | Major software </p>
        </div>
        <div class="col-4">
            <%= image_tag "Sebastian.JPG", alt: "Foto de Perfil", class: "profile-image rounded-circle" %>
            <h3> Sebastián Passi </h3>
            <p> 21 años | Major software </p>
        </div>
    </div>
</div>