/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.msg-form {
    width: 100%;
    height: 56px;
    padding: 10px;
    position: absolute;
    bottom: 10;
}

#single_room {
    height: calc(100vh - 90px);
}

#messages {
    height: calc(100vh - 330px);
    overflow-x: hidden;
    overflow-y: scroll; 
}

/* #room_container {
    position: relative; 
    height: 70vh;
    margin-right: 0px !important;
} */

#room_container {
    height: 120vh;
    margin-right: 0px !important;
}

#side_panel {
    height: calc(100vh - 55px);
    margin-right: 0px !important;
    overflow-x: hidden;
    overflow-y: scroll; 
    margin-bottom: 55px;
}

#chatroom_container {
    height: 100vh;
    margin-right: 0px !important;
    overflow-x: hidden;
    overflow-y: hidden; 
}

.msg-content {
    width: 80%;
    margin-right: 5px;
}

.message-box {
    word-wrap: break-word;
    width: fit-content;
    max-width: 40%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #555555;
    padding: 10px;
}
/* Estilo para el título principal */
.page-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif; /* Aplicando la fuente Poppins */
  }
  
  /* Estilo para los títulos de los inputs en bold */
  .form-group {
    font-size: 1.2rem;
    font-weight: bold; /* Aplicar negritas aquí */
    color: #333;
    font-family: 'Roboto', sans-serif; /* Fuente diferente para los labels */
  }
  
 .badge {
    font-size: 1.2rem;
    font-weight: bold; /* Aplicar negritas aquí */
    color: #333;
    font-family: 'Roboto', sans-serif; /* Fuente diferente para los labels */
  }
 .btn-back {
    background-color: #B7C4C4;
    color: #FFFFFF;
    border: 0px solid #ccc;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; /* Fuente diferente para los botones */
  }

/* Estilo para fotos */

.profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.bold-italic-underline {
    font-weight: bold;  /* Negrita */
    font-style: italic; /* Cursivo */
    text-decoration: underline; /* Subrayado */
}